html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .about {
  position: relative;
}
.about::after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  z-index: 0;
  background-color: #f00fff;
  background: url(https://res.cloudinary.com/emishalabs/image/upload/v1610298961/coverbg_EMISHA.svg);
} */
